
body    {
    background-color:lightgray;
    color:black;
    margin: 10px 40px 50px 10px;
}
h1,h2   {
    padding-left: 60px;
    color:darkblue;
}
p   {
    font-size:100%;
    padding-left: 40px;
}
a {
    text-decoration: none;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:hover {
    color: purple;
}
img {
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
body.con {
    background-color:lightblue;
    border:2px solid black;
    margin:30px;
    padding:50px;
}
a.high{
    color:brown;
}